<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.syi.project.mapper.member.AdminMapper">
  

  <resultMap type="com.syi.project.model.member.MemberVO" id="memberResultMap">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberBirthday" column="MEMBER_BIRTHDAY"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="memberStreetAddress" column="MEMBER_STREET_ADDRESS"/>
		<result property="memberDetailAddress" column="MEMBER_DETAIL_ADDRESS"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
		<result property="memberCheckStatus" column="MEMBER_CHECK_STATUS"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberSubType" column="MEMBER_SUB_TYPE"/>
		<result property="memberRole" column="MEMBER_ROLE"/>
	</resultMap>
	
	<resultMap type="com.syi.project.model.EnrollVO" id="enrollResultMap">
		<id property="enrollNo" column="ENROLL_NO"/>
		<result property="classNo" column="CLASS_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<association property="syclass" resultMap="classResultMap"/>
		<association property="member" resultMap="memberResultMap"/>
	</resultMap>
	
	<resultMap type="com.syi.project.model.syclass.SyclassVO" id="classResultMap">
		<id property="classNo" column="CLASS_NO"/>
		<result property="className" column="CLASS_NAME"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="teacherName" column="TEACHER_NAME"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="classroomName" column="CLASSROOM_NAME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifiedDate" column="MODIFIED_DATE"/>
		<result property="classStatus" column="CLASS_STATUS"/>
	</resultMap>
	
  <!-- 관리자 로그인 -->
  <select id="selectLoginAdmin" resultMap="memberResultMap">
  	SELECT *
  	FROM MEMBER
  	WHERE MEMBER_ID = #{ memberId }
  		AND MEMBER_STATUS = 'Y'
  		AND MEMBER_CHECK_STATUS = 'Y'
  		AND MEMBER_ROLE = 'ROLE_ADMIN'
  </select>
  
  <!-- 수강생 리스트 조회 -->
  <select id="selectMemberList" resultMap="memberResultMap">
  	SELECT * 
  	FROM MEMBER
  	WHERE MEMBER_ROLE = 'ROLE_MEMBER'
  		AND MEMBER_STATUS = 'Y'
  		<if test="keyword != null and keyword.trim() != ''">
      	 AND (MEMBER_NAME LIKE '%' || #{keyword} || '%'
      			OR MEMBER_PHONE LIKE '%' || #{keyword} || '%')
    	</if>
  	ORDER BY MEMBER_ENROLL_DATE DESC
  </select>
  
  <!-- 회원 총 수 -->
  <select id="selectTotalCount" resultType="_int">
  	SELECT COUNT(MEMBER_NO)
  	FROM MEMBER
  	WHERE MEMBER_STATUS = 'Y'
  		AND MEMBER_ROLE = 'ROLE_MEMBER'
  	<if test="keyword != null and keyword.trim() != ''">
  		AND (MEMBER_NAME LIKE '%' || #{keyword} || '%'
        		OR MEMBER_PHONE LIKE '%' || #{keyword} || '%')
  	</if>
  </select>
  
  <!-- 승인처리 -->
  <update id="updateStatusY" parameterType="com.syi.project.model.member.MemberVO">
		UPDATE 
			MEMBER
		SET MEMBER_CHECK_STATUS = 'Y'
		WHERE MEMBER_NO = #{ memberNo }
  </update>
  
  <!-- 미승인처리 -->
  <update id="updateStatusN" parameterType="com.syi.project.model.member.MemberVO">
		UPDATE 
			MEMBER
		SET MEMBER_CHECK_STATUS = 'N'
		WHERE MEMBER_NO = #{ memberNo }
  </update>
  
  <!-- 회원 상세 페이지 -->
  <select id="selectMemberDetail" resultType="com.syi.project.model.member.MemberVO">
  	SELECT * 
  	FROM MEMBER
  	WHERE MEMBER_NO = #{ memberNo }
  </select>
  
  <!-- 반 리스트 조회 -->
  <select id="selectClassList" resultType="com.syi.project.model.syclass.SyclassVO">
  	SELECT * FROM CLASS WHERE END_DATE > SYSDATE
  </select>
  
  <!-- 수강 신청 -->
  <insert id="insertEnroll" parameterType="com.syi.project.model.EnrollVO">
  	INSERT INTO ENROLL(
  		CLASS_NO, MEMBER_NO
  	) VALUES (
  		#{ classNo },
  		#{ memberNo }
  	)
  </insert>
  
  </mapper>