<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.syi.project.mapper.member.MemberMapper">
  
 
  <resultMap type="com.syi.project.model.member.MemberVO" id="memberResultMap">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberBirthday" column="MEMBER_BIRTHDAY"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="memberStreetAddress" column="MEMBER_STREET_ADDRESS"/>
		<result property="memberDetailAddress" column="MEMBER_DETAIL_ADDRESS"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
		<result property="memberCheckStatus" column="MEMBER_CHECK_STATUS"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberSubType" column="MEMBER_SUB_TYPE"/>
		<result property="memberRole" column="MEMBER_ROLE"/>
	</resultMap>

	

  <!-- 로그인 -->
  <select id="selectLoginMember" resultMap="memberResultMap">
  	SELECT *
  	FROM MEMBER
  	WHERE MEMBER_ID = #{ memberId }
  		AND MEMBER_STATUS = 'Y'
  		AND MEMBER_ROLE = 'ROLE_MEMBER'
  </select>
  
  <!-- 아이디 중복체크 -->
  <select id="selectCountByMemberId" resultType="_int">
  	SELECT
  		COUNT(MEMBER_NO)
  	FROM MEMBER
  	WHERE MEMBER_ID = #{ memberId }
  </select>
  
  <!-- 이메일 중복체크 -->
  <select id="selectCountByMemberEmail" resultType="_int">
  	SELECT
  		COUNT(MEMBER_NO)
  	FROM MEMBER
  	WHERE MEMBER_EMAIL = #{ memberEmail }
  </select>
  
  <!-- 회원가입 -->
  <insert id="insertMember" parameterType="com.syi.project.model.member.MemberVO">
  	INSERT INTO MEMBER (
    	MEMBER_ID, 
    	MEMBER_PWD, 
    	MEMBER_NAME, 
	    MEMBER_BIRTHDAY, 
	    MEMBER_GENDER, 
	    MEMBER_PHONE, 
	    MEMBER_EMAIL, 
	    MEMBER_ADDRESS, 
	    MEMBER_STREET_ADDRESS, 
	    MEMBER_DETAIL_ADDRESS, 
	    MEMBER_NICKNAME
	) VALUES (
	    #{ memberId },
	    #{ memberPwd },
	    #{ memberName },
	    #{ memberBirthday },
	    #{ memberGender },
	    #{ memberPhone },
	    #{ memberEmail },
	    #{ memberAddress },
	    #{ memberStreetAddress },
	    #{ memberDetailAddress },
	    #{ memberNickname }
	)
  </insert>
  
  </mapper>