<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syi.project.mapper.period.PeriodMapper">

	<resultMap id="periodResultMap" type="com.syi.project.model.period.PeriodVO">
		<id property="periodNo" column="PERIOD_NO"/>
		<result property="scheduleNo" column="SCHEDULE_NO"/>
		<result property="dayOfWeek" column="DAY_OF_WEEK"/>
		<result property="periodName" column="PERIOD_NAME"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
	</resultMap>

    <!-- 교시 등록 -->
    <insert id="enrollPeriod" parameterType="com.syi.project.model.period.PeriodVO">
    insert into period (SCHEDULE_NO, DAY_OF_WEEK, PERIOD_NAME, START_TIME, END_TIME)
    values (#{scheduleNo}, #{dayOfWeek}, #{periodName}, #{startTime}, #{endTime})
    </insert>
    
    <!-- 교시 조회 -->
    <select id="getPeriods" resultMap="periodResultMap">
    SELECT * FROM PERIOD WHERE SCHEDULE_NO=#{scheduleNo}
    </select>
   

</mapper>