<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.syi.project.member.mapper.MemberMapper">
  
  <!-- 로그인 -->
  <select id="selectLoginMember" resultType="com.syi.project.member.model.MemberVO">
  	SELECT *
  	FROM MEMBER
  	WHERE MEMBER_ID = #{ memberId }
  		AND MEMBER_STATUS = 'Y'
  		AND MEMBER_CHECK_STATUS = 'Y'
  </select>
  
  <!-- 아이디 중복체크 -->
  <select id="selectCountById" resultType="_int">
  	SELECT
  		COUNT(MEMBER_NO)
  	FROM MEMBER
  	WHERE MEMBER_ID = #{ memberId }
  </select>
  
  <!-- 이메일 중복체크 -->
  <select id="selectCountByEmail" resultType="_int">
  	SELECT
  		COUNT(MEMBER_NO)
  	FROM MEMBER
  	WHERE MEMBER_EMAIL = #{ memberEmail }
  </select>
  
  <!-- 회원가입 -->
  <insert id="insertMember">
  	INSERT INTO "MEMBER" (
    "MEMBER_ID", 
    "MEMBER_PWD", 
    "MEMBER_NAME", 
    "MEMBER_BIRTHDAY", 
    "MEMBER_GENDER", 
    "MEMBER_PHONE", 
    "MEMBER_EMAIL", 
    "MEMBER_ADDRESS", 
    "MEMBER_STREET_ADDRESS", 
    "MEMBER_DETAIL_ADDRESS", 
    "MEMBER_NICKNAME"
) VALUES (
    #{ memberId },
    #{ memberPwd },
    #{ memberName },
    #{ memberBirthday },
    #{ memberGender },
    #{ memberPhone },
    #{ memberEmail },
    #{ memberAddress },
    #{ memberStreetAddress },
    #{ memberDetailAddress },
    #{ memberNickname }
);
  </insert>
  
  </mapper>