<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syi.project.mapper.journal.JournalFileMapper">

<resultMap id="scheduleResultMap" type="com.syi.project.model.journal.JournalFileVO">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileOriginalName" column="FILE_ORIGINAL_NAME"/>
		<result property="fileSavedName" column="FILE_SAVED_NAME"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="fileSize" column="FILE_SIZE"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileRegDate" column="FILE_REG_DATE"/>
		<result property="journalNo" column="JOURNAL_NO"/>
</resultMap>


 <insert id="insertJournalFile" parameterType="com.syi.project.model.journal.JournalFileVO" >
        INSERT INTO JOURNAL_FILE (FILE_ORIGINAL_NAME, FILE_SAVED_NAME, FILE_TYPE, FILE_SIZE, FILE_PATH, FILE_REG_DATE, JOURNAL_NO)
        VALUES (#{fileOriginalName}, #{fileSavedName}, #{fileType}, #{fileSize}, #{filePath}, SYSDATE, #{journalNo})
 </insert>
 
 
</mapper>