<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syi.project.mapper.syclass.SyclassMapper">

	<resultMap id="classResultMap" type="com.syi.project.model.syclass.SyclassVO">
		<id property="classNo" column="CLASS_NO"/>
		<result property="className" column="CLASS_NAME"/>
		<result property="description" column="description"/>
		<result property="managerName" column="manager_name"/>
		<result property="teacherName" column="teacher_name"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="classroomName" column="classroom_name"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="modifiedDate" column="modified_date"/>
		<result property="classStatus" column="class_status"/>
		<result property="isDeleted" column="is_deleted"/>
	</resultMap>

    <!-- 반 등록 -->
    <insert id="classEnroll" parameterType="com.syi.project.model.syclass.SyclassVO">
    insert into class (class_Name, description, manager_Name, teacher_Name, start_Date, end_Date, classroom_Name)
    values (#{className}, #{description}, #{managerName}, #{teacherName,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{classroomName,jdbcType=VARCHAR})
    </insert>
    
    <!-- 반 전체 조회 -->
    <select id="getClassList" resultMap="classResultMap">
    SELECT * FROM class
    </select>
    
    <!-- 반 상세 조회 -->
    <select id="getClassDetail" resultMap="classResultMap">
    SELECT * FROM class WHERE class_no=#{classNo}
    </select>
    
    <!-- 반 수정 -->
    <update id="updateClass" parameterType="com.syi.project.model.syclass.SyclassVO">
    UPDATE class
    SET CLASS_NAME = #{className},
        DESCRIPTION = #{description},
        MANAGER_NAME = #{managerName},
        TEACHER_NAME = #{teacherName},
        START_DATE = #{startDate},
        END_DATE = #{endDate},
        CLASSROOM_NAME = #{classroomName},
        MODIFIED_DATE = SYSDATE,
        CLASS_STATUS = #{classStatus}
    WHERE CLASS_NO = #{classNo}
    </update>
   

</mapper>